<button class="material-symbols-outlined btn-icon" (click)="toggleLocation()">motorcycle</button>

<div *ngIf="isLocationVisible" class="container">
  <span class="material-symbols-outlined icon">search</span>
  <label for="search-loc">Your Location</label>
  <input [(ngModel)]="location" type="text" id="text">
  
  <label for="search-des">Destination</label>
  <input [(ngModel)]="destination" type="text" id="text1">

  <button type="button" (click)="submitForm()">Submit</button>
</div>

<style>
  * {
    padding: 0;
    font-family: 'Courier New', sans-serif;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .code-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
  }

  .code-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .code-container input {
    width: 278px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .code-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .code-container button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
</style>
